<div class="voices js-voices">
<% for(let i = 0; i < voices.length; i++) { -%>
<% let voice = voices[i]; -%>
  <div>
    <article class="media">
      <figure class="media-left image is-96x96">
        <img class="is-rounded" src="<%= voice.img %>" alt="<%= voice.name %>">
      </figure>
      <div class="media-content">
        <div class="content">
          <p class="title is-4"><%= voice.name %></p>
          <p class="subtitle is-6"><%= voice.position %></p>
          <p><%= voice.text %></p>
        </div>
      </div>
    </article>
  </div>
<% } -%>
</div>
